**/.DS_Store
**/.idea/contentModel.xml
**/.idea/dictionaries
**/.idea/libraries
**/.idea/modules
**/.idea/modules.xml
**/.idea/shelf
**/.idea/tasks.xml
**/.idea/uiDesigner.xml
**/.idea/usage.statistics.xml
**/.idea/workspace.xml
**/.ipynb_checkpoints
**/.project
**/.settings
**/.vscode
**/*.DotSettings.user
